/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

form {
	margin-left: 30px;
}

img {
	width: 300px;
}
#images {
	margin: 30px;
}

.post {
	border: 3px solid #c8c8c8;
	margin:15px; 
	padding: 35px;
	max-width: 70%;
}

.post:hover {
	border: 3px solid #c8c8c8;
	margin:15px; 
	padding: 35px;
	max-width: 70%;
	background-color: #272B4A;
}

.upvote {
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
}

.toggle {
	margin-top: 15px;
}